body{
    background-color: #000;
    color: #fff;
    margin: 0;
}

img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 80px;
}

nav a{
    color: indigo;
    font-size: 14px;
    text-decoration: none;
}